* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(77, 86, 86);
}

.flex-box {
    display: flex;
    flex-direction: center;
    justify-content: center;
    border: 1px dotted red;
}

.flex-box > div {
    border: 1px solid green;
    margin: 1rem;
    align-self: stretch;
}

.flex-box .flex-selected {
    align-self: center;
}

h1, p {
    font-family: roboto;
    color: white;
}

p {
    margin: 12px;
}

.hidden-content {
    display: none;
}

button {
    padding: 6px 14px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: rgba(117, 117, 117,0);
    color:white;
 }

 @media only screen and (max-width: 400px) {
    .flex-container {
      flex-direction: column;
    }
  }